<!DOCTYPE html>
<!-- this call page extension index.html and load the menu content-->
{% extends "index.html"%}
{% load static %}

{% block main_content %}


<!-- <h1>I am in Members page</h1> -->
<div class="container-flex text-center justify-content-center align-items-center" style="">
<div class="row justify-content-center align-middle" style="margin-top: 10px;height:60px;">
    <div class="col-md-4 text-dark" style="background-color:#a9dfbf;">
        <h4 style="margin-top:15px">Register new book</h4>
    </div>
    <div class="col-md-8">
        <!-- gives colun an row a percentage of page  -->
       
        <h4 style="margin-top:15px">Search books</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="container" style="overflow-y:auto;height:600px;background:#90d1a9"> <!-- inserting a background I will be able to see how much space the container took on this template when runserver and refresh the page -->
            <form class="d-flex" action="books/add" method="POST">
                {% csrf_token %}  <!-- to protect from cross-site -->
                <!-- adding labels and input field to be displayed on the web page -->
                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Title : </td>
                        <td><input required type="text" class="form-control" name="book_title"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Author : </td>
                        <td><input required type="text" class="form-control" name="book_author"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Genre : </td>
                        <td><input required type="text" class="form-control" name="book_genre"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Language : </td>
                        <td><input type="text" class="form-control" name="book_language"></td>
                    </tr>
                    <tr>
                        <!-- using boostrap for button - https://getbootstrap.com/docs/5.3/components/buttons/-->
                        <td colspan="2">
                            <button class="btn btn-success" type="submit" name="books/add">Save</button></td>
                    </tr>
                </table>
            </form>
            <ul style="text-align: left;vertical-align: middle;padding-left: 15px;">
                <li><small>Book should register only once</small></li>
                <li><small>Book should not register multiple times</small></li>
                <li><small>Duplicate books registration will be deactivated</small></li>

            </ul>
        </div>
    </div>
    <div class="col-md-8"> 
        <div class="row">
            <nav class="navbar bg-body-light">
                <div class="container-fluid justify-content-center align-items-center">
                    <!-- using boostrap for navbar - https://getbootstrap.com/docs/5.3/components/navbar/?-->
                    <form class="d-flex" role="search" action="/books" method="POST">
                        {% csrf_token %}
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="query" value="{{query}}">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>    
            </nav>
        </div>
        <div class="row" style="margin-top: 20px;">
            <p>{{books | length}} books listed.</p>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="container" style="overflow-y:auto;height:400px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Book ID</td>
                            <td>Title</td>
                            <td>Author</td>
                            <td>Genre</td>
                            <td>Language</td>
                            <td>Action</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for book in books %}
                            <tr>
                                <td>{{book.id}}</td>
                                <td>{% if book.active %}
                                        <span class="btn btn-success">{{book.book_title}}</span>
                                    {% else %}
                                        <span class="btn btn-secondary">{{book.book_title}}</span>

                                    {% endif %}
                                </td>
                                <td>{{book.book_author}}</td>
                                <td>{{book.book_genre}}</td>
                                <td>{{book.book_language}}</td>
                                <td><a href="" data-bs-toggle="modal" data-bs-target="#updatebookModal_{{book.id}}" class="btn btn-sm btn-success"><i class="fa-regular fa-pen-to-square"></i></a>
                                    <a href="" data-bs-toggle="modal" data-bs-target="#deletebookModal_{{book.id}}" class="btn btn-sm btn-danger"><i class="fa-solid fa-trash"></i></a></td>
                            </tr>
                    <!-- update member modal I am using boostrap modal - https://getbootstrap.com/docs/5.3/components/modal/#how-it-works-->
                    <div class="modal fade" id="updatebookModal_{{book.id}}" tabindex="-1" aria-labelledby="updatebookModal_{{book.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="books/update" method="post">  <!-- <form action="" method="post">  -->
                                {% csrf_token %}
                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="updatebookModal_{{book.id}}Label">Update Book</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <input type="hidden" name="id" value="{{book.id}}">
                                        <div class="">
                                            <label for="book_title">Book Title</label><!-- <for= name = member name>  -->
                                            <input required type="text" value="{{book.book_title}}" name="book_title" class="form-control"> <!-- <name = name  -->
                                        </div>
                                        <div class="">
                                            <label for="book_author">Book Author</label><!-- <for= name = member name>  -->
                                            <input required type="text" value="{{book.book_author}}" name="book_author" class="form-control"> <!-- <name = name  -->
                                        </div>
                                        <div class="">
                                            <label for="book_genre">Book Genre</label><!-- <for= name = member name>  -->
                                            <input required type="text" value="{{book.book_genre}}" name="book_genre" class="form-control"> <!-- <name = name  -->
                                        </div>
                                        <div class="">
                                            <label for="book_language">Book Language</label><!-- <for= name = member name>  -->
                                            <input required type="text" value="{{book.book_language}}" name="book_language" class="form-control"> <!-- <name = name  -->
                                        </div>
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-primary" name="books/update">Update book</button> <!-- name=update  -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- delete student modal -->
<div class="modal fade" id="deletebookModal_{{book.id}}" tabindex="-1" aria-labelledby="deletebookModal_{{book.id}}Label" aria-hidden="true">
                        <div class="modal-dialog">
                            <form action="books/delete" method="post">  <!-- <form action="books/delete" method="post" or "POST" is not case sensitive> matters for the urls.py for call the function at views.py  -->
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{book.id}}">
                                
                                <div class="modal-content">
                                    <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deletebookModal_{{book.id}}Label">Delete</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <p>Are you sure you want to delete?</p>
                                      
    
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                        <button type="submit" class="btn btn-danger" name="books/delete">Delete book</button> <!-- name=books/delete matters for the urls.py for call the function at views.py -->
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    
                        {% endfor %}
                    </tbody>


                </table>

            </div>
        </div>

    </div>
</div>
    
</div>
{% endblock %}