<!DOCTYPE html>
<!-- this call page extension index.html and load the menu content-->
{% extends "index.html"%}
{% load static %}

{% block main_content %}
<main role="main">
<div class="jumbotron">
    <div class="container">
        <img src="{% static '/logo_small.jpg' %}" class="rounded float-start" alt="bis" height="150" style="margin-right: 20px;">Book Club Library</span>
        <h1 class="display-4">Hello, Members!</h1>
        <p>Welcome to the Book Club</p>
        <p><a role="button" href="/books" class="btn btn-success btn-lg">Browse our collection</a></p>
    </div>
</div>
        <div class="container">
            <div class="row">
                <div class="col">
                <h4>Writers' Whispers Reflections and Insights phrases:</h4>
                <!-- <p> "When we work with love we renew the spirit; that renewal is an act of self-love, it nurtures our growth." by Bell Hooks - All About Love</p> -->
                </div>
                <div class="col">
                <h3>"When we work with love we renew the spirit; that renewal is an act of self-love, it nurtures our growth." by Bell Hooks - All About Love</h3>
                <!-- <p> "When we work with love we renew the spirit; that renewal is an act of self-love, it nurtures our growth." by Bell Hooks - All About Love</p> -->
                <!-- <ul>
                    <li>list bullets</li>
                    <li>list bullets</li>
                </ul> -->
                
                </div>
                <!-- <div class="col">
                <h2>Writers' Whispers: Reflections and Insights</h2>
                <p> text here</p>
                </div> -->
            </div>
            <hr>
</div>
</main>

<footer class="container">
<p>&copy;Book Club Library 2024. All rights reserved.</p>

</footer>


{% endblock %}