<!DOCTYPE html>
<!-- this call page extension index.html and load the menu content-->
{% extends "index.html"%}
{% load static %}

{% block main_content %}

<div class="jumbotron">
    <div class="container">
        <img src="{% static '/logo_small.jpg' %}" class="rounded float-start" alt="bis" height="150" style="margin-right: 20px;">Book Library</span>
        <h1 class="display-4">Hello, Members!</h1>
        <p>Welcome to the Book Club</p>
        <button type="button" class="btn btn-success">Browse our collection</button>


    </div>
</div>
{% endblock %}