<!DOCTYPE html>
<!-- this call page extension index.html and load the menu content-->
{% extends "index.html"%}
{% load static %}

{% block main_content %}

<!-- <h1>I am in Members page</h1> -->
<div class="container-flex text-center justify-content-center align-items-center" style="">
<div class="row justify-content-center align-middle" style="margin-top: 10px;height:60px;">
    <div class="col-md-4 text-light" style="background-color:#a9dfbf;">
        <h4 style="margin-top:15px">Register new member</h4>
    </div>
    <div class="col-md-8">
        <!-- gives colun an row a percentage of page  -->
       
        <h4 style="margin-top:15px">Search members</h4>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="container" style="overflow-y:auto;height:600px;background:#90d1a9"> <!-- inserting a background I will be able to see how much space the container took on this template when runserver and refresh the page -->
            <form class="d-flex" action="/members/add" method="POST">
                {% csrf_token %}  <!-- to protect from cross-site -->
                <!-- adding labels and input field to be displayed on the web page -->
                <table class="table" style="margin-top: 20px;">
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Name : </td>
                        <td><input type="text" class="form-control" name="member_name"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Contact : </td>
                        <td><input type="text" class="form-control" name="member_contact"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Reference ID : </td>
                        <td><input type="text" class="form-control" name="member_reference_id"></td>
                    </tr>
                    <tr>
                        <td style="text-align: left;vertical-align:middle; padding-left: 15px;">Country : </td>
                        <td><input type="text" class="form-control" name="member_country"></td>
                    </tr>
                    <tr>
                        <!-- using boostrap for button - https://getbootstrap.com/docs/5.3/components/buttons/-->
                        <td colspan="2"><button class="btn btn-success" type="submit">Save</button></td>
                    </tr>
                </table>
            </form>
            <ul style="text-align: left;vertical-align: middle;padding-left: 15px;">
                <li><small>Member should register only once</small></li>
                <li><small>Member should not register multiple times</small></li>
                <li><small>Duplicate members registration will be deactivated</small></li>

            </ul>
        </div>
    </div>
    <div class="col-md-8"> 
        <div class="row">
            <nav class="navbar bg-body-light">
                <div class="container-fluid justify-content-center align-items-center">
                    <!-- using boostrap for navbar - https://getbootstrap.com/docs/5.3/components/navbar/?-->
                    <form class="d-flex" role="search">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>
                </div>    
            </nav>
        </div>
        <div class="row" style="margin-top: 20px;">
            <p>{{members | length}} members subscribed.</p>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="container" style="overflow-y:auto;height:400px">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <td>Member ID</td>
                            <td>Name</td>
                            <td>Contact</td>
                            <td>Reference ID</td>
                            <td>Country</td>
                        </tr>
                    </thead>
                    <tbody>
                        {% for member in members %}
                            <tr>
                                <td>{{member.id}}</td>
                                <td>{% if member.active %}
                                        <span class="btn btn-success">{{member.member_name}}</span>
                                    {% else %}
                                        <span class="btn btn-secondary">{{member.member_name}}</span>

                                    {% endif %}
                                </td>
                                <td>{{member.member_contact}}</td>
                                <td>{{member.reference_id}}</td>
                                <td>{{member.member_country}}</td>
                            </tr>

                        {% endfor %}
                    </tbody>


                </table>

            </div>
        </div>

    </div>
</div>
    
</div>

{% endblock %}